.git
.github
.vscode
.tx
autom4te.cache
depends/x86_64*
depends/built
depends/work
depends/sources
*.a
*.la
*.o
*.log
Makefile
src/btchdd
src/btchd-cli
src/btchd-miner
src/btchd-tx
src/btchd-wallet
configure
config.status

